body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
h1 {
    margin-top: 20px;
}



/* LogIn card style */
#logIn_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/login/background.jpg");
    background-size: cover;  
    padding: 100px;
    border-radius: 35px;
    border: 10px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999;
}
#tableScore_content,
#game_content{
    display: none;
}
.custom-prompt {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

.answerButton {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

#message-container {
    display: flex;
    justify-content: center;
  }
  
  #message {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  

img {
    width: 30px;
    margin: 5px;
}

p {
    font-size: 25px;
}

#score {

    font-weight: bold;
    color:white;
    border:  black;
}

#choice{

     font-weight: bold;
    color:white;
}

#tableScoreBtn{
    display: none;
}

/* Style para la tabla */

.score-table {
    width: 150px;
    margin: 50px auto;
    border: 2px solid white; 
    font-family: Arial, sans-serif;
}

/* Estilo para las celdas de la tabla */
.score-table th, .score-table td {
    padding: 10px;
    text-align: center; /* Centra el contenido en las celdas */
    border: 2px solid white; /* Borde blanco de 2px sólido */
}
